{% extends 'zomba/base.html' %}

{% load staticfiles %}

{% block body_block %}
              <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><b>Zomba:</b> <span class="text-muted">A Search Game</span></h2>
          <p class="lead">Zomba was developed in order to provide an unconventional survival game within the Django framework with the intention of demonstrating the process of searching in a web environment, whilst incorporating different forms of media and web development aspects.</p>
        </div>
        <div class="col-md-5">
          <img class="img-circle" src="{% static 'images/zombie-face.png'%}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">See how long you<br><span class="text-muted">survive.</span></h2>
          <p class="lead">The difficulty of the game increases and resources deplete the longer you stay alive. See if you're capable of topping the leaderboards.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="{% static 'images/screenshots/screen1.png'%}" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Saved game<span class="text-muted"> state.</span></h2>
          <p class="lead">Pick up right where you left off as your game session is saved with every action you take. Your scores will be updated as you play and you can return to the Zomba world when you log back in!</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'images/screenshots/screen2.png'%}" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



           
            </div>
{% endblock %}
