{% extends 'zomba/base.html' %}

{% load staticfiles %}

{% block body_block %}

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function sendCommand(command) {
  jQuery.ajax({
    url: '/engine_update/',
    type: 'post',
    data: JSON.stringify(command),
    headers: {
        "X-CSRFToken": getCookie('csrftoken'),
    },
    dataType: 'json',
    success: function (data) {
        console.info(data);
    }
  });
}

</script>
<div>
<span> Test Commands (response in console): </span> <br>
<a href="#" onclick="sendCommand( { instruction: 'new_game'} );">Initialise new game </a> <br>
<a href="#" onclick="sendCommand( { instruction: 'load_game'} );">Load saved game </a> <br>
<a href="#" onclick="sendCommand( { instruction: 'take_turn', turn: 'MOVE', data1: 1} );">take turn (move 1) </a>
</div>
<div id="data_returned">
</div>

{% endblock %}