{% extends 'zomba/base.html' %}

{% load staticfiles %}


        {% block body_block %}
        
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static 'images/carousel/gamesplash.png'%}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            {% if user.is_authenticated %}
              <h1>Start your adventure today!</h1>
              <p>You find yourself in a zombie apocalypse. Explore the street, find survivors and try your best to live through the nights.</p>

              <script>
              function play(){
                      var audio = document.getElementById("audio");
                        audio.play();
              }
              </script>

            
              <audio id="audio" src="{% static 'sounds/Zombie_45.mp3'%}" ></audio>

              <p><a class="btn btn-lg btn-primary" href="#startgame"value="play" onclick="play()" role="button">Start game</a></p>
              {% else %}
              <h1>Start your adventure today!</h1>
              <p>You find yourself in a zombie apocalypse. Explore the streets, find survivors and try your best to live through the nights.</p>
              

              <p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}"role="button">Sign up</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'images/carousel/leaderboardsplash.png'%}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Leaderboard</h1>
              <p>Compare your ranks, stats and achievements against the world.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'leaderboard_kills' %}" role="button">Leaderboard</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'images/carousel/screensplash.png'%}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Screenshots</h1>
              <p>View ingame footage</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

<!--Circle headings-->
 <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/zombie-thumbnail.png'%}" alt="Generic placeholder image" width="140" height="140">

          <h2><b>ZOMBIES</b></h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/guns.png'%}" alt="Generic placeholder image" width="140" height="140">
          <h2><b>GUNS</b></h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/morezombies.jpg'%}" alt="Generic placeholder image" width="140" height="140">
          <h2><b>MORE ZOMBIES</b></h2>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


        {% endblock %}
