{% extends 'zomba/base.html' %}

{% load staticfiles %}

{% block body_block %}
   <h1 class="page-header"><center>Leaderboards<center></h1>
        <div class="col-sm-5 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="javascript:displayDiv('kills', 'survive')">
              <img src="{% static 'images/achievements/mostkills.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Most Kills</h4>
              <span class="text-muted">Total number of kills per player</span>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="javascript:displayDiv('survive', 'kills')">
              <img src="{% static 'images/achievements/survived.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Longest time survived</h4>
              <span class="text-muted">Total survival duration per player</span>
            </div>
          </div>
       </div>
          <br><br><br>

            <div id="kills" style="display:block; border:none; padding-left:25px; padding-top:0px; padding-bottom: 25px;">
            <h1 class="page-header">Most Kills</h2>
            <div class="table-responsive">
          <table class="table table-striped">
            <thead>
               <tr>
           <th>User</th>
           <th>Kills</th>
                </tr>
            </thead>
            <tbody>
                  {% for value in mostKills %}
                  <tr><td><b><a href="profile/{{value.user.username}}">{{value.user.username}}</a></b></td><td>{{value.most_kills}}</td></tr>
                  {% endfor %}
            </tbody>
                </table>
              </div>
            </div>

            <div id="survive" style="display:none; border:none; padding-left:25px; padding-top:0px; padding-bottom: 25px;">
            <h1 class="page-header">Longest Time Survived</h2>
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
               <tr>
           <th>User</th>
           <th>Days</th>
                </tr>
            </thead>
            <tbody>
                  {% for value in mostDays %}
                  <tr><td><b><a href="/profile/{{value.user.username}}">{{value.user.username}}</a></b></td><td>{{value.most_days_survived}}</td></tr>
                  {% endfor %}
            </tbody>
                </table>
              </div>
            </div>
            <br><br><br><br>
 

<script type="text/javascript">
function displayDiv(div1,div2)
{
   //toDisplay = $(".myContainer").load("myOtherHTMLFile.html #firstbox");
   toDisplay = document.getElementById(div1);
   hideDiv = document.getElementById(div2);
   if( toDisplay.style.display == "none" )
   {
      toDisplay.style.display = "block";
      hideDiv.style.display = "none";
   }
}
</script>


{% endblock %}
