{% extends 'zomba/base.html' %}

{% load staticfiles %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   
        <div class="col-sm-5 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <h1 class="page-header">Leaderboards</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="javascript:displayDiv('kills', 'survive','party')">
              <img src="{% static 'images/achievements/mostkills.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Most Kills</h4>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="javascript:displayDiv('survive', 'kills','party')">
              <img src="{% static 'images/achievements/survived.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Longest time survived</h4>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <a href="javascript:displayDiv('party', 'survive','kills')">
              <img src="{% static 'images/achievements/partymembers.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Largest party size</h4>
            </div>

            <div id="kills" style="display:block; border:none; padding:25px;">
            <h2 class="sub-header">Most Kills</h2>
            {% for value in mostKills %}
            {{value}}
            {% endfor%}
            </div>

            <div id="survive" style="display:none; border:none; padding:25px;">
            <h2 class="sub-header">Longest Time Survived</h2>
            {% for value in mostDays %}
            {{value}}
            {% endfor%}
            </div>

            <div id="party" style="display:none; border:none; padding:25px;">
            <h2 class="sub-header">Largest Party Size</h2>
            {% for value in mostPartyMembers %}
            {{value}}
            {% endfor%}
            </div>
        </div>
      </div>
    </div>

<br><br><br><br><br>

<script type="text/javascript">
function displayDiv(div1,div2,div3)
{
   //toDisplay = $(".myContainer").load("myOtherHTMLFile.html #firstbox");
   toDisplay = document.getElementById(div1);
   hideDiv1 = document.getElementById(div2);
   hideDiv2 = document.getElementById(div3);
   if( toDisplay.style.display == "none" )
   {
      toDisplay.style.display = "block";
      hideDiv1.style.display = "none";
      hideDiv2.style.display = "none";
   }
}
</script>


{% endblock %}
