{% extends "zomba/base.html" %}
{% load staticfiles %}
{% block body_block %}
{% if user.is_authenticated %}
{% load avatar_tags %}
<div class="row placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
              {% avatar profile_user %}
              <h1><b>{{ profile_user.username }}</b></h1>
              {%if user == profile_user %}
              <li><a href="{% url 'auth_password_change' %}">Change password</a></li>
              <li><a href="{% url 'avatar_change' %}">Change your avatar</a></li></span>
              {% endif %}
            </div>
			
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 			
	 <h2 class="sub-header">{{ profile_user.username }}'s stats</h2>
       <div class="table-responsive">
		<table class="table table-striped">
            <thead>
               <tr>
				   <th>Games Played</th>
                 <th>Most Kills</th>
                 <th>Average Kills</th>
                 <th>Most Days Survived</th>
                 <th>Average Days Survived</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{player.games_played}}</td>
                  <td>{{player.most_kills}} kills</td>
				  <td>kills</td>
                  <td>{{player.most_days_survived}} days</td>
                  <td>days</td>
                </tr>
			 </tbody>
			</table>
		</div>	
		<h1 class="page-header">{{ profile_user.username }}'s Achievements</h1>
						
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'images/achievements/mostkills.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Most Kills</h4>
              <span class="text-muted">Highest number of kills in a singular game session</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'images/achievements/survived.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Days Survived</h4>
              <span class="text-muted">Longest time survived</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'images/achievements/mostfood.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Most Food</h4>
              <span class="text-muted">Most amount of food at end of a singular game session</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'images/achievements/partymembers.png'%}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Most Party Members</h4>
              <span class="text-muted">Most amount of party members at end of a singular game session</span>
            </div>
          </div>
            <br><br><br>

            
{% else %}
	<strong>Sorry, but you must be a registered user to view this page.<br><br><br><strong/>
{% endif %}
{% endblock %}
