body {
  background: #fff;
}

#game_frame {
  position: relative;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(0,0,0);
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: pixelated;                /* Chrome */
}

.game_terrain {
  width: 9999px;
  position: relative;
}

.game_terrain_layer {
  position: absolute;
}

.game_terrain_column {
  float: left;
}

.game_terrain_tile {
}

#game_top_gui {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3000;
  padding-top: 20px;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255,255,255);
}

#game_score {
  text-align: center;
  float: left;
  width: 24%;
}

#game_lives {
  text-align: center;
  float: left;
  width: 24%;
}

#game_active_word {
  text-align: center;
  float: left;
  width: 50%;
  font-size: 1.5em;
}

.game_button {
  top : 50px;
  width: 20%;
  height: 30px;
  background-color: rgba(60,60,120,1.0);
  float: right;
}

.game_button:hover { 
  background-color: rgba(90,90,120,1.0);
  cursor: pointer;
}

.game_popup {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  color: rgba(255, 255, 255, 1.0);
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 60%;
  font-size: 5em;
  z-index: 4000;
  top:0;
  right: 0;
  left: 0;
}

.game_popup_button {
  top : 50px;
  width: 20%;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(60,60,120,1.0);
  font-size: 0.25em;
  margin-bottom: 20px;
}

.game_popup_button:hover { 
  background-color: rgba(90,90,120,1.0);
  cursor: pointer;
}

#time_left_box {
  float: right;
}