{% extends "zomba/base.html" %}
{% load i18n avatar_tags %}

{% block body_block %}

    <div class="container">
        <div class="row centered-form">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <strong> Your current avatar </strong> </h3>
                    </div>
                    <div class="panel-body">
                      {% avatar user %}
                      {% if not avatars %}
                          <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                      {% endif %}
                      <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                          {{ upload_avatar_form.as_p }}
                          <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}